*{
    box-sizing: border-box
}
.wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 500px;
    width: 500px;
}


.orange{
    background: orange;

}

.black{
    background:black;
}

.cell {
    border: black 3px solid;
}

.yellow {
    background: yellow;
}

.blue {
    background: blue;
}

.red {
    background: red;
}

.header,
.col-1,
.col-3,
.footer,
.row-2 {
    flex-grow: 1;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6 {
    display: flex;
    flex-direction: column
}

.col-2 {
    flex-grow: 2
}

.col-3 {
    flex-grow: 3
}

.col-4 {
    flex-grow: 4
}

.col-5 {
    flex-grow: 5
}

.col-2 {
    flex-grow: 2
}

.col-6 {
    flex-grow: 3
}

.row-1 {
    display: flex;
    flex: 1
}

.row-2 {
    display: flex;
    flex: 2;
}

.row-3 {
    display: flex;
    flex: 3
}

.row-4 {
    display: flex;
    flex:4;
}
.row-5 {
    display: flex;
    flex: 5
}

.row-6 {
    display: flex;
    flex: 6;
}

blue {
    background: rgb(93, 150, 255)
}

.black{
    background:black
}
.orange{
    background: orange
}

.red {
    background: darkred
}
.yellow{
    background: rgb(255, 230, 160)
}

.purple{
    background: purple
}