.row-1{
    display: flex;
}
.row-2{
    display: flex;
}
main{
    background: black;
    width: 405px;
}
.row-3{
    display: flex;
}
.col-1{
    width: 200px;
    height: 100px;
    background: red;
    margin: 5px;
}
.col-2{
    width: 200px;
    height: 100px;
    background: white;  
    margin: 5px;
}
.col-3{
    width: 200px;
    height: 80px;
    background: white;  
    margin: 5px;
}
.col-4{
    width: 200px;
    height: 80px;
    background: white;  
    margin: 5px;
}
.col-5{
    width: 200px;
    height: 200px;
    background: beige;
    margin: 5px;
}
.first{
    width: 30px;
    height: 198px;
    background: yellow;
    border: 2px solid black;
}
.col-6{
    width: 200px;
    height: 200px;
    background: beige;
    margin: 5px;
}

.third{
    width: 135px;
    height: 143px;
    background: darkblue;
    border: 2px solid black;

}
.forth{
    width: 135px;
    height: 52px;
    background: pink;
    border: 2px solid black;
}
