.cell{
    float: left;
}
.row{
    width: 100%;
    clear: both;
}
.col-1{
    width: 90px;
    height: 90px;
    margin-right: 15px;
    background-color: red;
    margin-bottom: 0;
    padding-bottom: 10px;
}
.col-2{
    width: 130px;
    height: 90px;
    background-color: beige;
    margin-bottom: 0;
    padding-bottom: 10px
}
.col-3{
    width: 90px;
    height: 50px;
    background-color: beige;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;

}
.col-4{
    width: 130px;
    height: 50px;
    background-color:beige;
    margin-top: 10px;
    margin-bottom: 10px;
}
.col-5{
    width: 30px;
    height: 50px;
    background-color: yellow;
    margin-right: 15px;
    margin-bottom: 0;
    padding-bottom: 30px;

}
.col-6{
    width: 55px;
    height: 50px;
    background-color: beige;
    margin-right: 15px;
    margin-bottom: 0;
    padding-bottom: 30px;

}
.col-7{
    width: 55px;
    height: 50px;
    background-color: blue;
    margin-right: 15px;
    margin-bottom: 0;
    padding-bottom: 30px;

}
.col-8{
    width: 55px;
    height: 50px;
    background-color: beige;
    padding-bottom: 30px;
}
.col-9{
    width: 30px;
    height: 50px;
    background-color: yellow;
    margin-right: 15px;
    margin-top:0;
}
.col-10{
    width: 55px;
    height: 50px;
    background-color:beige;
    margin-right: 15px;
    margin-top: 0;
}
.col-11{
    width: 55px;
    height: 40px;
    background-color: beige;
    margin-right: 15px;
    margin-top: 10px;
}
.col-12{
    width: 55px;
    height: 50px;
    background-color: beige;
    margin-top: 0;
}
